.faqsItem {
    box-shadow: 1px 0.1rem 0.5rem 0px rgb(60 60 60 / 25%);
    cursor: pointer;
}

details {
    padding: 20px;
    background-color: var(--white);
    border-radius: 5px;
}

summary {
    background-color: var(--white);
    font-size: 18px;
    font-weight: 600;

    &::marker {
        color: var(--primary-color);
    }
}