.testimonials {
    background-color: var(--light-gray);
    padding: 70px 0;

    & h2 {
        max-width: 670px;
        margin: 0 auto 50px;
        text-align: center;
    }
}

.testimonialsList {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}

.testimonialsItem {
    background-color: var(--white);
    padding: 20px;
    border-radius: 20px;

    & p {
        font-size: 18px;
    }
}

.testimonialsAuthor {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    margin-top: 30px;

    & img {
        max-width: 70px;
    }
}

/* Estilos para tablet */
@media (min-width: 768px) {
    .testimonialsList {
        grid-template-columns: repeat(2, 1fr);
    }
}

  /* Estilos para desktop small */
@media (min-width: 1024px) {
    .testimonialsList {
        grid-template-columns: repeat(3, 1fr);
    }
}
