.nav {
    padding: 20px 0;
}

.navContainer {
    display: flex;
    justify-content: space-between;

    & ul {
        display: none;

        &.active {
            display: flex;
            position: absolute;
            background-color: var(--primary-color);
            top: 0;
            left: 0;
            height: 100vh;
            flex-direction: column;
            padding: 50px 0 20px;
            text-align: center;
            width: 100%;
        }

        & a {
            color: var(--white);
        }

        & span {
            font-weight: 600;
            position: absolute;
            right: 10px;
            top: 20px;
        }
    }
}

@media (min-width: 768px){
    .btnNav {
        display: none;
    }
    .navContainer {
        & ul {
            display: flex;
        
            & a {
                color: var(--paragraph-color);
            }
        }
    }
}